.section {
  margin-top: 30px;
}

.titleBar {
  width: 100%;
  height: 30px;
  background-color: black;
  color: aliceblue;
  margin-bottom: 50px;
}

.titleBar h2 {
  width: fit-content;
  text-transform: uppercase;
  height: 50px;
  padding: 14px 9px;
  margin: 0 auto;
  background-color: rgb(182, 147, 215);
  position: relative;
  bottom: 10px;
}

.sportslist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.sport {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: flex-start;
}

.sport iframe {
  margin: 0;
  height: 80%;
  isolation: isolate;
  border: none;
  border-radius: 15px;
}

.sport h3 {
  font-size: 1.3rem;
  padding: 1px 5px;
  text-align: center;
}

.sport p {
  font-size: 1rem;
  padding: 8px;
  max-height: 50px;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  .sportslist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .sportslist {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 830px) {
  .sportslist {
    grid-template-columns: repeat(4, 1fr);
  }
}