.section {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.section span {
  width: 100%;
  height: 100%;
}

.section h2, .section p {
  margin: auto;
  position: relative;
  bottom: 80px;
  width: 80%;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 800;
  background-color: rgba(43, 42, 42, 0.62);
  text-align: center;
}

.image {
  width: 100%;
  height: inherit;
}

@media screen and (min-width: 768px) {
  .section {
    min-width: 60%;
    height: 500px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    min-width: 65%;
    height: 500px;
    margin-right: 20px;
  }
}