.form {
  margin-top: 30px ;
  margin-left: 20%;
}

.form input {
  width: 70%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
}

.form button {
  border: none;
  background-color: transparent;
  position: relative;
  top: 10px;
}

@media screen and (min-width: 670px) {
  .form {
    margin-left: 100px;
  }

  .form input {
    margin-left: auto;
    width: 50%;
  }
}